* {
  margin: 0;
  padding: 0; }

header {
  background: none !important; }
  header nav {
    display: flex; }
  header ul {
    list-style: none; }
  header li {
    font-family: 'Syne', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: #1E1E1E; }
  header .nav-link {
    color: #1E1E1E; }

main {
  font-family: 'Syne', sans-serif;
  color: #1E1E1E; }
  main .welcome-contact {
    font-family: 'Syne', sans-serif;
    color: #1E1E1E; }
  main h1 {
    font-size: 48px;
    font-weight: 800; }
  main h2 {
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 15px; }
  main h4 {
    font-size: 24px;
    font-weight: 800; }
  main h5 {
    font-size: 16px;
    font-weight: 400; }
  main p {
    font-size: 18px;
    font-weight: 400; }
  main a {
    font-size: 16px;
    font-weight: 800;
    color: #1E1E1E !important; }

footer {
  background: #1E1E1E;
  height: 200px;
  font-family: 'Syne', sans-serif; }
  footer p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400; }

/* Desktop-Device */
@media (min-width: 900px) and (max-width: 1920px) {
  header {
    padding-left: 150px;
    padding-right: 150px; }
  ul {
    justify-content: end; }
  main .welcome-home {
    padding: 150px 150px 150px 150px; }
    main .welcome-home a {
      padding-right: 50px; }
  main .welcome-about {
    padding: 0px 150px 150px 150px; }
    main .welcome-about img {
      width: 50%; }
  main .welcome-latest {
    padding: 0px 150px 150px 150px; }
    main .welcome-latest .card {
      padding: 50px;
      border: 2px solid #1E1E1E;
      border-radius: 0px; }
      main .welcome-latest .card h4 {
        padding-bottom: 300px; }
  main .welcome-process {
    padding: 0px 150px 150px 150px; }
  main .welcome-review {
    padding: 0px 150px 150px 150px; }
  main .welcome-contact {
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 150px;
    padding-right: 150px; }
  footer {
    display: grid;
    padding: 100px 150px 100px 150px; } }
